// DARK THEME
$dark-primary-accent: #27ae60;
$darkBackground: #2c3e50;
$darkText: #ecf0f1;

// LIGHT THEME
$light-primary-accent: #27ae60;
$lightBackground: #ecf0f1;
$lightText: #2c3e50;


    body {
        background-color: $darkBackground;
        color: $darkText;
        font-size: 1.8rem;
    
    }

    h1{
        font-size: 4.5rem;
        margin-bottom: 3%;
        color: $lightText;
    }
    
    h2 {
        font-size: 3.2rem;
    }
    
    h3 {
        font-size: 2.6rem;
    }

    h4 {
        font-size: 2.2rem;
    }
    

    p {
        padding-top :1.75%;
    }

    .city-card {
        margin: 2% 5% 3% 5%;
        border: 1px solid black ;
        h2 {
            border-bottom: 3px solid $dark-primary-accent;
            padding-bottom: 1%;
        }
    }

    .login-component {
        margin:10.5% 10% 3% 10%;
        padding-bottom: 3%;
        background-color:$lightBackground;
        color: $lightText;
        
        button {
            color:$darkText;
        }
    }

    .generate-component {
        margin: 10.5% 10% 3% 10%;
        padding-bottom: 1%;
        background-color: $lightBackground;
        color: $lightText;

        
        label {
            padding-left:0.35%;
        }
        
        
        button {
            color:$darkText;
        }
        
}


    // NAV //
    
    nav {
        font-size:2rem;
        
        a {
            color:$darkText;
            padding: 2% 0.5% 2% 0.5%;
            background-color: $dark-primary-accent;
        }
        
        a:hover {
        background-color: #2ecc71;
            transition: 1.2s;
        }
    }


    
    // LINKS //

    a:link {
        color: $darkText;
        text-decoration: none;
    }
    
    a:visited {
        color: $darkText;
        text-decoration: none;
    }

    a:hover {
        color: $lightText;
        text-decoration: none;
        transition: 1.5s;
    }
    
    // Lien de récup du mot de passe //
    #lostpass {
        color:$lightText;
        
        a:link {
            color: $lightText;
            text-decoration: none;
        }
    
        a:visited {
            color: $lightText;
            text-decoration: none;
        }

        a:hover {
            color: $dark-primary-accent;
            text-decoration: none;
        }
    }
    
    // FORMS //

    button {
        background-color: $dark-primary-accent;
        margin-top: 2%;
    }

    input {
        color: $lightText;
        margin-bottom: 2.5%;
    }

    select {
        color:$lightText;
    }

    .login-form {
        padding: 0% 25% 1% 25%;
        
        label {
            color: $lightText;
            padding-left: 0.35%;
        }
        
    }

    .generate-form {
        
        label {
            margin-top: 1.25%;
        }
        select {
            margin: 1.25% 6% 1.5% 0%;
        }
        button {
            margin: 0% 0% 3% 0%;
        }
    }

    